html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: crimson;
    height: 100%;
}

.taik {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wow {
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 2rem;
    text-align: center;
}